
fastapi==0.85.1
uvicorn==0.18.3
psycopg2-binary==2.9.3
pydantic==1.10.2
pandas
numpy
scipy
pytz
python-dotenv
duckdb
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-exporter-otlp-proto-grpc
asyncpg
asyncio
statsmodels
